# Python virtual environment
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/


# VS Code settings
.vscode/

# Environment variables
.env

# Log files
*.log

# Analysis outputs
*.png
*.csv

# Prophet cache
*.stan